# Efemérides del grupo o históricas. Se muestran las que coinciden en día y mes.
dia,mes,anio,acontecimiento
20,7,1969,El Apolo 11 llega a la Luna
16,5,2019,Nace este grupo de WhatsApp
9,11,1989,Cae el Muro de Berlín
